.api-image{
  float:left;
  margin-right: 30px;
  width: 30%;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.bottom-cloud {
  bottom: 5%;
  position: absolute;
  left: 15%;
  width: 15%;
}

.bottom-container {
  background-color: #d6e4f0;
  color: #163172;
  position: relative;
}

.btn {
  color:#163172;
}

.consult-image{
  float:left;
  margin-right: 30px;
  width: 30%;
}

.devops-image{
  float:right;
  margin-left: 30px;
  width: 30%;
}

.footer-link {
  color: #f8f8f8;
  text-decoration: none;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 560%;
  margin: 0 auto;
  width: 20%;
  line-height: 1;
}

h2 {
  margin-top: auto;
  padding-top: 15px;
}

.middle-container {
  background-color:#f6f6f6;
  position: relative;
}

.plants-image {
  float:left;
  margin-right: 30px;
  width: 20%;
}

.skills{
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.skill-row-right {
  width: 50%;
  margin: 75px auto 75px auto;
  text-align: left;
  line-height: 2;
}
.skills-list {
  display: grid;
}
.skill-row-left {
  width: 50%;
  margin: 75px auto 75px auto;
  text-align: right;
  line-height: 2;
}

.sre-image{
  float:right;
  margin-left: 30px;
  width: 30%;
}

.top-cloud {
  position: absolute;
  right:10%;
  top:5%;
  width: 15%;

}

.top-container {
  background-color: #163172;
  height: 300px;
  position: relative;
  color:white;
}

ul{
  text-align: left;
}
